.radio-container {
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-container .radio-label {
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  margin-right: 10px;
}

.radio-container .radio-button {
  position: relative;
  appearance: none;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  margin-right: 20px;
  z-index: 21;
}

.radio-container .radio-button::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  background: var(--primary-color);
  border-radius: 50%;
  transform: scale(0);
}

.radio-container .radio-button:checked::before {
  transform: scale(1);
}

.radio-container .radio-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  transition: border 0.3s;
}

.radio-container .radio-button:hover::after,
.radio-container .radio-button:checked:after {
  border: 1px solid var(--primary-color);
}

.radio-group-container {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.radio-container .tabber {
  position: absolute;
  width: 28px;
  height: 28px;
  background: red;
  right: 19px;
  top: 50%;
  z-index: 20;
  transform: translateY(-45%);
  border-radius: 50%;
  background-color: transparent;
}

.alert-enter {
  opacity: 0;
  transform: translateY(-40px);
  margin-top: 0px;
}

.alert-exit-active ~ button,
.alert-exit-done ~ button {
  margin-top: 0px;
  transition: all 1s, transform 1s;
}

.alert-enter-done,
.alert-enter-active {
  margin-top: 20px;
}

.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s, transform 1s;
}

.alert-exit {
  opacity: 1;
  margin-top: 0px;
}

.alert-exit ~ button,
.alert-enter-active ~ button,
.alert-enter-done ~ button {
  margin-top: 20px;
}

.alert-exit-active {
  opacity: 0;
  transform: translateY(-40px);
  transition: all 1s, transform 1s;
}
