.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 0.6rem 1.5rem;
  font-weight: bolder;
  font-size: 0.6rem;
  border-radius: 0.14rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.4s;
  letter-spacing: 0.07rem;
  z-index: 20;
  transition: all 1s, opacity 0.5s;
}

.btn-container:hover {
  background-color: var(--primary-color-dark);
}
