.status-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s linear;
  min-width: 300px;
}

.status-container > .header {
  position: relative;
  font-size: 1rem;
}

.status-container .radio-btns {
  display: flex;
}

.status-container .radio-btns > .btns:not(:last-child) {
  margin-right: 20px;
}

.status-container > .button {
  align-self: flex-start;
  transition: all 300ms linear;
}

.alert-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.alert-enter ~ .button,
.alert-exit-active ~ .button,
.alert-exit-done ~ .button {
  margin-top: 0px;
}

.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit ~ .button,
.alert-enter-active ~ .button,
.alert-enter-done ~ .button {
  margin-top: 20px;
}

.alert-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 300ms, transform 300ms;
}
